<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/icons/favicon.ico">
  <title>You download</title>
  <!-- Bootstrap core CSS -->
  <link href="../assets/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/starter-template.css" rel="stylesheet">
</head>

<body>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>You Download</h1>
        <p class="lead">Incolla un link youtube.<br>Segli un nome da associare al file <br> Scegli una directory di
          destinazione <br> Fai clicca su crea mp3</p>
      </div>
      <div class="col-md-6">
        <div id="ytplayer" class="yt-player"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form">
        <div class="form-group">
          <label for="txtUrl">Incolla link video Youtube</label>
          <div class="form-inline">
            <input type="url" class="form-control col" id="txtUrl" prompt="Incolla link Youtube" />
            <label for="nmnStart">&nbsp; Inizia da (sec): &nbsp;</label>
            <input type="number" class="form-control col-md-2" id="nmnStart" prompt="Inizio" step="0.1" value="0" />
            <input type="button" id="btnLoad" class="btn btn-primary" value="Play" />
          </div>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" id="btnPath" value="Seleziona Directory" />
            <input type="button" class="btn btn-success" id="btnPlayer" value="Riproduci contenuto directory" />
            <div id="lblDirPath" class="col"></div>
        </div>
        <div class="form-group">
          <label for="txtName">Nome file</label>
          <input type="text" class="form-control" id="txtName" prompt="nome del file senza esenzione" />
        </div>
        <div class="form-group">
          <input type="button" class="btn btn-primary" id="btnConvert" value="Crea MP3" />
          <input type="button" class="btn btn-primary" id="btnConvertM4a" value="Crea M4a" />
          <input type="button" class="btn btn-primary" id="btnConvertAAC" value="Crea AAC" />
          <input type="button" class="btn btn-primary" id="btnConvertMp4" value="Download Mp4" />
          <div id="lblInfoBox" class="info-box"></div>
        </div>
      </div>
    </div>
  </main><!-- /.container -->
  <footer>
    <div class="text-center">@Copyright Luciano Grippa 2019 versione <span id="versionSpan"></span></div>
  </footer>
  <script src="../assets/bootstrap/jquery.min.js"></script>
  <script src="../assets/bootstrap/popper.min.js"></script>
  <script src="../assets/bootstrap/bootstrap.min.js"></script>
  <script src="../controller/main.js"></script>
  <script src=""></script>
</body>

</html>