<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/icons/favicon.ico">
  <title>You download</title>
  <!-- Bootstrap core CSS -->
  <link href="../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../node_modules/glyphicons-only-bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../node_modules/glyphicons-only-bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
   -->
  
  <!-- Custom styles for this template -->
  <link href="../assets/starter-template.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-md-4 table-playlist">
        <div class="row">
          <div class="col">
            <h3 id="dirNameTitle">Lista files</h3>
            <hr>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" id="videoTitle"></h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <video id="vpPLayer" placeinline="1" controls autoplay class="main-player"></video>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col max-height">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">File</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                  <div class="form">
                    <div class="form-group">
                      <div class="form-inline">
                        <label for="txtFileName">Nome: </label>
                        <div id="txtFileName" class="col limt-label"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-inline">
                        <label for="txtDuration">Durata: </label>
                        <div id="txtDuration" class="col"></div>
                      </div>
                    </div>
                  </div>
                </p>
                <a href="javascript:;" id="btnPrev" class="card-link btn btn-primary">Prev</a>
                <a href="javascript:;" id="btnNext" class="card-link btn btn-primary">Next</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col max-height">
        <footer>
          <div class="text-center">@Copyright Luciano Grippa 2019 versione <span id="versionSpan"></span></div>
        </footer>
      </div>
    </div>
  </div><!-- /.container -->
  <script src="../assets/bootstrap/jquery.min.js"></script>
  <script src="../assets/bootstrap/popper.min.js"></script>
  <script src="../assets/bootstrap/bootstrap.min.js"></script>
  <script src="../controller/playlistplayer.js"></script>
  <script src=""></script>
</body>

</html>